<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exceeded</title>
</head>
<body>
    <h2>Shop : {{s.SHOP_NAME}} has only</h2>
    <p>{{h}} Copy of this books</p>
    <p>You can not order {{d}} copy</p>
</body>
</html>